/.idea/
/MAL/
/mal-dsl/
/test/

/db/backups

/tara.server/node_modules
/tara.server/.idea/
/tara.server/temp/

/tara.vue/node_modules
/tara.vue/.idea/
/tara.vue/src/components/TestComponents.vue
/tara.vue/dist/

/mal-simulator.server/malvenv
/mal-simulator.server/logs
/mal-simulator.server/__pycache__
/mal-simulator.server/simulation_workspace

/sample/testcase/logs
/sample/vehicleLang_v2/mal_KOR

.codex
/logs